@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Mada&family=Outfit:wght@100..900&display=swap');

.App {
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  align-content: center;
}

.Container {
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  width: 320px;
  height: 497px;
}

.Image {
  width: 288px;
  border-radius: 10px;
}

.Main-P {
  font-weight: 700;
  font-family: "Outfit", "Times New Roman";
  font-size: 22.2px;
  width: 288px;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin: 0;
}

.Second-P {
  font-weight: 400;
  font-family: "Outfit", "Times New Roman";
  font-size: 15px;
  width: 256px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  color: hsl(220, 15%, 55%);
  text-align: center;
}

.Text-Container {
  margin-top: 24px;
  height: fit-content;
}